@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:400,700');

body {
  font-family:"Ubuntu", sans-serif;
  background-image: url('../img/pattern.png');
  background-repeat: repeat;

  top:0;
  left:0;
  right:0;
  bottom:0;
}

h1 {
  font-family:"Ubuntu", sans-serif;
  font-weight:800;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color:#999999;
}

#wrapper {
  width:70%;
  height:100%;
  margin: 0 auto;
  background-color:white;
  padding:20px;
  min-height:500px;
  border:1px solid #efefef;
}

#header {
  width: 80%;
  margin: 0 auto;
  height:50px;
}

#header img {
  float:left;
}

#header h1 {
  float:left;
  font-size: 6.0em;
  color: #f15a24;
  line-height: 2.5em;
  margin-left: 3%;
}

@media (max-width: 1331px) {
  #header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #header h1 {
    text-align:center;
    float: none;
    line-height: inherit;
  }
}
