@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:400,700');

body {
  font-family:"Ubuntu", sans-serif;
  background-color:gray;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

h1 {
  font-family:"Ubuntu", sans-serif;
  font-weight:800;
}

p {
  font-family: "Open Sans", sans-serif;
}

#wrapper {
  width:80%;
  margin: 0 auto;
  background-color:white;
  padding:20px;
  min-height:500px;
}
